.container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 82vh;
  opacity: 0;
  transform: scale(0.95);
  animation: fadeInUp 0.8s forwards ease-out;
}

.title {
  font-size: 3rem;
  margin-bottom: 0.6rem;
}

.separator {
  border: none;
  border-top: 2px solid #ccc;
  margin: 0.2rem auto;
  width: 0;
  animation: drawSeparator 1.5s ease-out forwards;
}

@keyframes drawSeparator {
  to {
    width: 100%;
  }
}

.description {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  font-style: italic;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

.icon {
  width: 3rem;
  height: auto;
  margin: 0.7rem 2%;
  transition: transform 0.2s ease, translateY 0.2s ease;
}

.icon:hover {
  transform: scale(1.02) translateY(-4px); 
}

.link {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  margin-top: 1.4rem;
  
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease, transform 0.2s ease;
}

.link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #333;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease, transform 0.2s ease; 
  background-color: purple;
  height: 3px;
}

.link:hover::after {
  width: 100%;
}

.link:hover {
  transform: translateY(-5px); 
}

/* most phones */
@media (max-width: 600px) {
  .container {
    max-width: 80%;
  }

  .title {
    font-size: 2.3rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .icon {
    width: 2.2rem;
    margin-left: 0.7rem;
  }

  .link {
    font-size: 0.9rem;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
